<h1> <%= @deck.title %> </h1>

<p> You've completed a round of <%= @deck.title %>. You answered <%=  %>/ <%= @deck.cards.length %> cards correctly on the first try. You submitted <%= @round.guesses.count %> total guesses before each card was answered correctly. </p>