<h2><%= current_user.username %></h2>

<% @user.rounds.each do |round| %>
  <h3><%= round.deck.title %></h3>
  <table>
    <tr>
      <th>Date</th>
      <th>Cards in Deck</th>
      <th>First Guess Correct </th>
      <th>Total Guesses</th>
    </tr>
    <tr>
      <th><%= round.created_at %></th>
      <th><%= round.deck.cards.count %></th>
      <th><%= round.count_first_guess %></th>
      <th><%= round.count_total_guesses %></th>
    </tr>
  </table>
<% end %>
